

table{
    border-collapse:collapse;
    width:100%;
}

th,td {
  	text-align :left;
  	background-color: yellow;
	padding :20px;
}

tr:nth-child(even){background-color: #f3f3f3}

th{
	background-color: blue;
	color:gray;
}
