{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Worker</title>
	 <link rel="stylesheet" href="{% static "css/base.css" %}" /> <!-- CSS -->
	 <div align="center"><h1 style="font-size:50px">ALL WORKER OF RESTURANT DETAILS</h1></div>
</head>
<body>
<table>
<div align="center"><h1 style="font-size:30px">WAITER DETAILS DISPLAY HERE</h1></div>
<tr>
		<th>Waiter ID</th>
		<th>Waiter Name</th>
		<th>Waiter Salary</th>
		<th>Waiter Aderess</th>
		<th>Waiter Phone No</th>
	</tr>

 {% for i in table %}
	<tr>
	{% for j in i %}
		<td>{{j}}</td>
	{% endfor %}
	</tr>
{% endfor %}

</table>
<table>
<div align="center"><h1 style="font-size:30px">CHEF DETAILS DISPLAY HERE</h1></div>
<tr>
		<th>Chef ID</th>
		<th>Chef Name</th>
		<th>Chef Salary</th>
		<th>Chef Aderess</th>
		<th>Chef Phone No</th>
	</tr>
{% for i in table1 %}
	<tr>
	{% for j in i %}
		<td>{{j}}</td>
	{% endfor %}
	</tr>
{% endfor %}

</table>
</body>
</html>
